<launch>
    <!-- Import game parameters -->
    <rosparam command="load" file="$(find p_mrivadeneira_bringup)/params/game.yaml"/>

<!--     Wrold in Gazebo -->
<!--     <include file="$(find p_mrivadeneira_bringup)/launch/gazebo.launch"> -->
<!--            <arg name="arena" default="1"/>-->
<!--     </include> -->

<!-- RED TEAM -->
    <include file="$(find p_mrivadeneira_bringup)/launch/bringup.launch">
        <arg name="player_name" default="red1"/>
        <arg name="player_color" default="Red"/>
        <arg name="visualize" default="false"/>
        <arg name="camera_visualize" default="false"/>
        <arg name="x_pos" default="6.0"/>
        <arg name="y_pos" default="3.0"/>
        <arg name="z_pos" default="0.0"/>
    </include>

<!--     <include file="$(find p_mrivadeneira_bringup)/launch/bringup.launch">-->
<!--         <arg name="player_name" default="red2"/>-->
<!--         <arg name="player_color" default="Red"/>-->
<!--         <arg name="visualize" default="false"/>-->
<!--         <arg name="camera_visualize" default="false"/>-->
<!--         <arg name="x_pos" default="1.0"/>-->
<!--         <arg name="y_pos" default="3.0"/>-->
<!--         <arg name="z_pos" default="0.0"/>-->
<!--     </include>-->

<!--     <include file="$(find p_mrivadeneira_bringup)/launch/bringup.launch">-->
<!--         <arg name="player_name" default="red3"/>-->
<!--         <arg name="player_color" default="Red"/>-->
<!--         <arg name="visualize" default="false"/>-->
<!--         <arg name="camera_visualize" default="false"/>-->
<!--         <arg name="x_pos" default="-1.0"/>-->
<!--         <arg name="y_pos" default="3.0"/>-->
<!--         <arg name="z_pos" default="0.0"/>-->
<!--     </include>-->

<!-- GREEN TEAM -->
    <include file="$(find p_mrivadeneira_bringup)/launch/bringup.launch">
        <arg name="player_name" default="green1"/>
        <arg name="player_color" default="Green"/>
        <arg name="visualize" default="false"/>
        <arg name="camera_visualize" default="false"/>
        <arg name="x_pos" default="-6.0"/>
        <arg name="y_pos" default="3.0"/>
        <arg name="z_pos" default="0.0"/>
    </include>

<!--     <include file="$(find p_mrivadeneira_bringup)/launch/bringup.launch">-->
<!--         <arg name="player_name" default="green2"/>-->
<!--         <arg name="player_color" default="Green"/>-->
<!--         <arg name="visualize" default="false"/>-->
<!--         <arg name="camera_visualize" default="false"/>-->
<!--         <arg name="x_pos" default="-3.0"/>-->
<!--         <arg name="y_pos" default="1.0"/>-->
<!--         <arg name="z_pos" default="0.0"/>-->
<!--     </include>-->

<!--     <include file="$(find p_mrivadeneira_bringup)/launch/bringup.launch">-->
<!--         <arg name="player_name" default="green3"/>-->
<!--         <arg name="player_color" default="Green"/>-->
<!--         <arg name="visualize" default="false"/>-->
<!--         <arg name="camera_visualize" default="false"/>-->
<!--         <arg name="x_pos" default="-3.0"/>-->
<!--         <arg name="y_pos" default="-1.0"/>-->
<!--         <arg name="z_pos" default="0.0"/>-->
<!--     </include>-->

<!-- BLUE TEAM -->
    <include file="$(find p_mrivadeneira_bringup)/launch/bringup.launch">
        <arg name="player_name" default="blue1"/>
        <arg name="player_color" default="Blue"/>
        <arg name="visualize" default="true"/>
        <arg name="camera_visualize" default="false"/>
        <arg name="x_pos" default="0.0"/>
        <arg name="y_pos" default="-1.5"/>
        <arg name="z_pos" default="0.0"/>
    </include>

<!--     <include file="$(find p_mrivadeneira_bringup)/launch/bringup.launch">-->
<!--         <arg name="player_name" default="blue2"/>-->
<!--         <arg name="player_color" default="Blue"/>-->
<!--         <arg name="visualize" default="false"/>-->
<!--         <arg name="camera_visualize" default="false"/>-->
<!--         <arg name="x_pos" default="-3.0"/>-->
<!--         <arg name="y_pos" default="-1.0"/>-->
<!--         <arg name="z_pos" default="0.0"/>-->
<!--     </include>-->

<!--     <include file="$(find p_mrivadeneira_bringup)/launch/bringup.launch">-->
<!--         <arg name="player_name" default="blue3"/>-->
<!--         <arg name="player_color" default="Blue"/>-->
<!--         <arg name="visualize" default="true"/>-->
<!--         <arg name="camera_visualize" default="false"/>-->
<!--         <arg name="x_pos" default="-3.0"/>-->
<!--         <arg name="y_pos" default="-5.0"/>-->
<!--         <arg name="z_pos" default="0.0"/>-->
<!--     </include>-->

    <!--Load set players name node-->
    <node name="set_players_names" pkg="th_referee" type="set_player_names" output="screen"/>

</launch>