<launch>

<!--    Defining the arena-->
    <arg name="arena" default="1"/>

    <!--Create world on Gazebo.-->
<!--    <group if="$(eval arena  == 1)">-->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
<!--         <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_house.world"/> -->
<!--         <arg name="world_name" value="$(find psr_fnr)/worlds/fnr.world"/> -->
            <arg name="world_name" value="$(find th_description)/worlds/th_arena_$(arg arena).world"/>      <!-- world_name depends on arena arg -->
            <arg name="paused" value="false"/>
            <arg name="use_sim_time" value="true"/>
            <arg name="gui" value="true"/>
            <arg name="headless" value="false"/>
            <arg name="debug" value="false"/>
        </include>


</launch>