<launch>
    <!--Part 1: Launch file arguments -->
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="player_name" default="p_mrivadeneira"/>
    <arg name="player_color" default="Red"/>
    <arg name="gmapping" default="true"/>
    <arg name="run_driver" default="true"/>
    <arg name="visualize" default="true"/>
    <arg name="camera_visualize" default="false"/>
    <arg name="x_pos" default="-1.4"/>
    <arg name="y_pos" default="-1.5"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="yaw" default="0.0"/>

    <arg name="move_forward_only" default="false"/>
    <arg name="initial_pose_x" default="$(arg x_pos)"/>
    <arg name="initial_pose_y" default="$(arg y_pos)"/>
    <arg name="initial_pose_z" default="$(arg z_pos)"/>


    <!--Part 2: Spawn-->
    <include file="$(find p_mrivadeneira_bringup)/launch/spawn.launch">
        <arg name="player_name" default="$(arg player_name)"/>
        <arg name="x_pos" default="$(arg x_pos)"/>
        <arg name="y_pos" default="$(arg y_pos)"/>
        <arg name="z_pos" default="$(arg z_pos)"/>
        <arg name="yaw" default="$(arg yaw)"/>
    </include>

    <!--Part3: Driver-->
     <node pkg="p_mrivadeneira_player" type="driver.py" name="$(arg player_name)" output="screen" args="$(arg visualize) $(arg run_driver)">
     </node>

    <!--Part 4: Detection-->
    <include file="$(find p_mrivadeneira_bringup)/launch/detection.launch">
        <arg name="player_name" default="$(arg player_name)"/>
        <arg name="camera_visualize" default="$(arg camera_visualize)"/>
    </include>

    <!--Part 5: Arms control param-->
    <rosparam file="$(find p_mrivadeneira_bringup)/config/config.yaml" command="load" />

    <!--Part 6: Gmapping-->
    <group if="$(arg gmapping)">
        <include file="$(find p_mrivadeneira_bringup)/launch/gmapping.launch">
            <arg name="player_name" default="$(arg player_name)"/>
        </include>
    </group>

        <!--Group for robots name-->
    <group ns="$(arg player_name)">

        <!--Part 7: Arms control param-->
        <node pkg="p_mrivadeneira_player" type="arms_controller.py" name="arms_control" output="screen">
            <remap from="/detection" to="/$(arg player_name)/detection"/>
            <remap from="/left_arm_base_to_left_arm_controller/command" to="/$(arg player_name)/left_arm_base_to_left_arm_controller/command"/>
            <remap from="/left_arm_2_base_to_left_arm_2_controller/command" to="/$(arg player_name)/left_arm_2_base_to_left_arm_2_controller/command"/>
            <remap from="/right_arm_base_to_right_arm_controller/command" to="/$(arg player_name)/right_arm_base_to_right_arm_controller/command"/>
            <remap from="/right_arm_2_base_to_right_arm_2_controller/command" to="/$(arg player_name)/right_arm_2_base_to_right_arm_2_controller/command"/>
        </node>

<!--    To classify TF messages by the player's name to avoid collisions -->
        <param name="tf_prefix" value="$(arg player_name)"></param>

        <!--Part 8: robot_description parameter from xacro-->
        <param name="robot_description" command="$(find xacro)/xacro --inorder $(find p_mrivadeneira_description)/urdf/p_mrivadeneira.urdf.xacro player_name:=$(arg player_name) player_color:=$(arg player_color)" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
<!--        <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>-->

        <!--Part 9: Loading arm controllers-->
        <node name="controller_spawner" pkg="controller_manager" type="spawner" ns="/$(arg player_name)" args="right_arm_base_to_right_arm_controller right_arm_2_base_to_right_arm_2_controller left_arm_base_to_left_arm_controller left_arm_2_base_to_left_arm_2_controller joint_state_controller"/>

        <!--Part 10: Visualization in RVIZ-->
        <group if="$(arg visualize)">
            <!--Include Visualize launch-->
            <include file="$(find p_mrivadeneira_bringup)/launch/visualize.launch">
                <arg name="player_name" default="$(arg player_name)"/>
            </include>
        </group>
    </group>

</launch>